body{
    background-color: beige;
    background-image: url("https://images.pexels.com/photos/1287145/pexels-photo-1287145.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.hidden{
    display:none;
}
.snowflake{
    width: 8px;
    height:8px;
    border-radius: 50%;
    background-color: white;
    position : absolute;
    top : -8px;
    /* animation : fall 10s linear; */
}
@keyframes fall{
    from{}
    to{
        transform: translateY(100vh);
        opacity: 0;
    }
}
#login-form{
    text-align:center;
}
#greeting{
    text-align:center;
}
#weather{
    text-align:right;
}
#write_enter{
    left: 87%;
    position : relative;
}
#todo-list{
    left: 90%;
    position : relative;
}
